In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

train

,satisfaction_level,last_evaluation_rating,projects_worked_on,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,Department,salary,Attrition
0,3.8,5.3,3,167,3,0,0,sales,low,1
1,8.0,8.6,6,272,6,0,0,sales,medium,1
2,1.1,8.8,8,282,4,0,0,sales,medium,1
3,3.7,5.2,3,169,3,0,0,sales,low,1
4,4.1,5.0,3,163,3,0,0,sales,low,1
5,1.0,7.7,7,257,4,0,0,sales,low,1
6,9.2,8.5,6,269,5,0,0,sales,low,1
7,8.9,10.0,6,234,5,0,0,sales,low,1
8,4.2,5.3,3,152,3,0,0,sales,low,1
9,1.1,8.1,7,315,4,0,0,sales,low,1
10,8.4,9.2,5,244,5,0,0,sales,low,1
11,3.8,5.4,3,153,3,0,0,sales,low,1
12,7.6,8.9,6,272,5,0,0,sales,low,1
13,1.1,8.3,7,292,4,0,0,sales,low,1
14,3.8,5.5,3,157,3,0,0,sales,low,1
15,8.9,9.2,6,252,5,0,0,sales,low,1
16,8.2,8.7,5,249,5,0,0,sales,low,1
17,4.0,4.9,3,145,3,0,0,sales,low,1
18,4.1,4.6,3,138,3,0,0,accounting,low,1
19,0.9,6.2,7,304,4,0,0,accounting,low,1
20,4.0,5.1,3,155,3,0,0,hr,low,1
21,4.5,5.5,3,150,3,0,0,hr,low,1
22,8.4,8.7,5,256,6,0,0,hr,low,1
23,1.0,9.4,7,265,4,0,0,technical,low,1
24,4.5,5.0,3,136,3,0,0,technical,low,1
25,1.1,8.9,7,316,4,0,0,technical,low,1
26,8.7,8.8,6,279,5,0,0,technical,low,1
27,4.5,4.8,3,168,3,0,0,technical,low,1
28,4.0,4.6,3,137,3,0,0,technical,low,1
29,0.9,8.9,7,286,4,0,0,technical,low,1
...,...,...,...,...,...,...,...,...,...,...
25461,4.3,4.6,2,157,3,0,0,sales,medium,1
25462,7.8,9.3,4,225,5,0,0,sales,medium,1
25463,3.9,4.5,2,140,3,0,0,sales,medium,1
25464,1.1,9.7,6,310,4,0,0,accounting,medium,1
25465,3.6,5.2,2,143,3,0,0,accounting,medium,1
25466,3.6,5.4,2,153,3,0,0,accounting,medium,1
25467,1.0,7.9,7,310,4,0,0,hr,medium,1
25468,4.0,4.7,2,136,3,0,0,hr,medium,1
25469,8.1,8.5,4,251,6,0,0,hr,medium,1
25470,4.0,4.7,2,144,3,0,0,hr,medium,1
25471,0.9,9.3,6,296,4,0,0,technical,medium,1
25472,7.6,8.9,5,238,5,0,0,technical,high,1
25473,7.3,9.3,5,162,4,0,0,technical,low,1
25474,3.8,4.9,2,137,3,0,0,technical,medium,1
25475,7.2,8.4,5,257,5,0,0,technical,medium,1
25476,4.0,5.6,2,148,3,0,0,technical,medium,1
25477,9.1,9.9,5,254,5,0,0,technical,medium,1
25478,8.5,8.5,4,247,6,0,0,technical,low,1
25479,9.0,7.0,5,206,4,0,0,technical,low,1
25480,4.6,5.5,2,145,3,0,0,technical,low,1
25481,4.3,5.7,2,159,3,1,0,technical,low,1
25482,8.9,8.8,5,228,5,1,0,support,low,1
25483,0.9,8.1,6,257,4,0,0,support,low,1
25484,4.0,4.8,2,155,3,0,0,support,low,1
25485,7.6,8.3,6,293,6,0,0,support,low,1
25486,4.0,5.7,2,151,3,0,0,support,low,1
25487,3.7,4.8,2,160,3,0,0,support,low,1
25488,3.7,5.3,2,143,3,0,0,support,low,1
25489,1.1,9.6,6,280,4,0,0,support,low,1
25490,3.7,5.2,2,158,3,0,0,support,low,1

In [5]:
train['efficiency'] = train['projects_worked_on']/train['time_spend_company']
train['punctual']=train['average_montly_hours']/(train['time_spend_company'])

In [6]:
train.shape[0]

25491

In [7]:
train.head()

,satisfaction_level,last_evaluation_rating,projects_worked_on,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,Department,salary,Attrition,efficiency,punctual
0,3.8,5.3,3,167,3,0,0,sales,low,1,1.0,55.666667
1,8.0,8.6,6,272,6,0,0,sales,medium,1,1.0,45.333333
2,1.1,8.8,8,282,4,0,0,sales,medium,1,2.0,70.500000
3,3.7,5.2,3,169,3,0,0,sales,low,1,1.0,56.333333
4,4.1,5.0,3,163,3,0,0,sales,low,1,1.0,54.333333

In [8]:
temp=train[['salary','Attrition']]
temp_prob=temp.groupby('salary')['Attrition'].aggregate({'sales_prob':sum}).reset_index()
temp_prob['sales_prob']=temp_prob['sales_prob']/temp[temp.Attrition==1].shape[0]
temp_prob

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version

   salary  sales_prob
0    high    0.023706
1     low    0.604508
2  medium    0.371786

In [9]:
train=pd.merge(train,temp_prob,how='inner')
train=train.drop(['salary'],axis=1)
train.head()

,satisfaction_level,last_evaluation_rating,projects_worked_on,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,Department,Attrition,efficiency,punctual,sales_prob
0,3.8,5.3,3,167,3,0,0,sales,1,1.00,55.666667,0.604508
1,3.7,5.2,3,169,3,0,0,sales,1,1.00,56.333333,0.604508
2,4.1,5.0,3,163,3,0,0,sales,1,1.00,54.333333,0.604508
3,1.0,7.7,7,257,4,0,0,sales,1,1.75,64.250000,0.604508
4,9.2,8.5,6,269,5,0,0,sales,1,1.20,53.800000,0.604508

In [10]:
department=train[['Department','Attrition']]
p=department[department.Attrition==1].shape[0]
dep=department.groupby('Department')['Attrition'].aggregate({'dep_prob':sum}).reset_index()
dep['dep_prob']=dep['dep_prob']/p
dep

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  This is separate from the ipykernel package so we can avoid doing imports until

    Department  dep_prob
0           IT  0.078464
1        RandD  0.034224
2   accounting  0.058431
3           hr  0.059766
4   management  0.024040
5    marketing  0.055760
6  product_mng  0.055259
7        sales  0.279633
8      support  0.156093
9    technical  0.198331

In [11]:
train=pd.merge(train,dep,how='inner')
train=train.drop(['Department'],axis=1)

In [12]:
train.head()

,satisfaction_level,last_evaluation_rating,projects_worked_on,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,Attrition,efficiency,punctual,sales_prob,dep_prob
0,3.8,5.3,3,167,3,0,0,1,1.00,55.666667,0.604508,0.279633
1,3.7,5.2,3,169,3,0,0,1,1.00,56.333333,0.604508,0.279633
2,4.1,5.0,3,163,3,0,0,1,1.00,54.333333,0.604508,0.279633
3,1.0,7.7,7,257,4,0,0,1,1.75,64.250000,0.604508,0.279633
4,9.2,8.5,6,269,5,0,0,1,1.20,53.800000,0.604508,0.279633

In [13]:

X=train.drop(['Attrition'],axis=1)
y=train.Attrition

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [15]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.33,random_state=7)

In [16]:
from xgboost import XGBClassifier

C:\Users\user\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [17]:
model  = XGBClassifier(base_score=0.7,learning_rate=0.85,max_depth=8,n_estimators = 500)
model.fit(X_train,y_train)

XGBClassifier(base_score=0.7, colsample_bylevel=1, colsample_bytree=1,
       gamma=0, learning_rate=0.85, max_delta_step=0, max_depth=8,
       min_child_weight=1, missing=None, n_estimators=500, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=1, seed=0, silent=True, subsample=1)

In [18]:
predcv =model.predict(X_test)

In [19]:
accuracy=accuracy_score(y_test,predcv)
accuracy

0.98787590633543321

In [20]:
model.fit(X,y)

XGBClassifier(base_score=0.7, colsample_bylevel=1, colsample_bytree=1,
       gamma=0, learning_rate=0.85, max_delta_step=0, max_depth=8,
       min_child_weight=1, missing=None, n_estimators=500, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=1, seed=0, silent=True, subsample=1)

In [21]:
test=pd.read_csv('test.csv')
test.tail(10)

,ID,satisfaction_level,last_evaluation_rating,projects_worked_on,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,Department,salary,Attrition
4497,4498,8.3,8.1,6,229,5,0,0,sales,low,1
4498,4499,4.3,5.1,3,138,3,0,0,sales,low,1
4499,4500,1.1,9.7,7,320,4,0,0,accounting,medium,1
4500,4501,3.6,5.2,3,153,3,0,0,accounting,medium,1
4501,4502,4.0,4.7,3,146,3,0,0,hr,medium,1
4502,4503,0.9,9.3,7,306,4,0,0,technical,medium,1
4503,4504,7.6,8.9,6,248,5,0,0,technical,high,1
4504,4505,7.2,8.4,6,267,5,0,0,technical,medium,1
4505,4506,4.6,5.5,3,155,3,0,0,technical,low,1
4506,4507,0.9,8.1,7,267,4,0,0,support,low,1

In [22]:
answer=pd.DataFrame(test.ID)
test['efficiency'] = test['projects_worked_on']/test['time_spend_company']
test['punctual']=test['average_montly_hours']/test['time_spend_company']

In [23]:
test=pd.merge(test,temp_prob,how='outer')
test=test.drop(['salary'],axis=1)
test

,ID,satisfaction_level,last_evaluation_rating,projects_worked_on,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,Department,Attrition,efficiency,punctual,sales_prob
0,1,7.2,8.7,6,233,5,0,0,sales,1,1.200000,46.600000,0.604508
1,2,4.5,5.4,3,145,3,0,0,sales,1,1.000000,48.333333,0.604508
2,3,4.1,5.5,3,158,3,0,0,sales,1,1.000000,52.666667,0.604508
3,4,3.6,5.6,3,147,3,0,0,sales,1,1.000000,49.000000,0.604508
4,5,4.5,4.7,3,170,3,0,0,sales,1,1.000000,56.666667,0.604508
5,6,7.8,9.9,5,265,6,0,0,sales,1,0.833333,44.166667,0.604508
6,7,4.5,5.1,3,170,3,1,1,sales,1,1.000000,56.666667,0.604508
7,8,0.9,9.5,7,314,4,0,0,sales,1,1.750000,78.500000,0.604508
8,9,4.6,5.7,3,149,3,0,0,sales,1,1.000000,49.666667,0.604508
9,10,4.0,5.3,3,168,3,0,0,sales,1,1.000000,56.000000,0.604508
10,11,3.8,5.0,3,142,3,0,0,accounting,1,1.000000,47.333333,0.604508
11,12,4.5,5.7,3,144,3,0,0,hr,1,1.000000,48.000000,0.604508
12,13,3.8,4.6,3,147,3,0,0,technical,1,1.000000,49.000000,0.604508
13,14,4.1,5.4,3,162,3,0,0,technical,1,1.000000,54.000000,0.604508
14,15,1.0,8.0,8,291,4,0,0,technical,1,2.000000,72.750000,0.604508
15,16,4.3,4.7,3,157,3,0,0,support,1,1.000000,52.333333,0.604508
16,17,1.3,7.8,7,162,2,0,0,support,1,3.500000,81.000000,0.604508
17,18,1.0,9.2,8,317,4,0,0,support,1,2.000000,79.250000,0.604508
18,19,3.7,4.6,3,150,3,0,0,support,1,1.000000,50.000000,0.604508
19,20,1.1,9.4,8,265,4,0,0,support,1,2.000000,66.250000,0.604508
20,21,3.8,5.4,3,138,3,0,0,technical,1,1.000000,46.000000,0.604508
21,22,8.5,10.0,5,235,5,0,0,technical,1,1.000000,47.000000,0.604508
22,26,4.3,5.6,3,167,3,0,0,sales,1,1.000000,55.666667,0.604508
23,27,3.9,5.6,3,152,3,0,0,accounting,1,1.000000,50.666667,0.604508
24,28,7.9,5.9,5,149,3,0,1,management,1,1.666667,49.666667,0.604508
25,29,8.4,8.5,5,259,6,0,0,marketing,1,0.833333,43.166667,0.604508
26,30,1.1,7.7,7,301,4,0,0,marketing,1,1.750000,75.250000,0.604508
27,31,1.7,8.4,6,242,3,0,0,sales,1,2.000000,80.666667,0.604508
28,32,3.7,5.7,3,140,3,0,0,sales,1,1.000000,46.666667,0.604508
29,33,1.0,7.9,7,301,4,0,0,sales,1,1.750000,75.250000,0.604508
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4477,4106,7.8,6.5,4,149,3,0,0,marketing,0,1.333333,49.666667,0.023706
4478,4125,8.9,5.5,6,261,10,0,0,management,0,0.600000,26.100000,0.023706
4479,4126,9.7,5.7,4,174,10,0,0,management,0,0.400000,17.400000,0.023706
4480,4141,9.7,5.1,6,225,7,0,0,management,0,0.857143,32.142857,0.023706
4481,4156,7.2,6.6,5,194,3,0,0,management,0,1.666667,64.666667,0.023706
4482,4157,7.7,8.9,5,279,10,0,0,management,0,0.500000,27.900000,0.023706
4483,4159,5.1,5.2,4,198,3,0,0,technical,0,1.333333,66.000000,0.023706
4484,4165,4.4,6.6,7,144,8,0,0,RandD,0,0.875000,18.000000,0.023706
4485,4167,6.2,7.3,4,154,10,1,0,support,0,0.400000,15.400000,0.023706
4486,4175,8.1,7.8,4,175,3,0,0,technical,0,1.333333,58.333333,0.023706
4487,4177,9.4,6.7,5,201,3,1,0,product_mng,0,1.666667,67.000000,0.023706
4488,4179,8.2,9.0,4,225,4,0,0,management,0,1.000000,56.250000,0.023706
4489,4180,7.5,6.6,6,244,2,0,0,management,0,3.000000,122.000000,0.023706
4490,4182,9.3,7.0,6,241,7,0,1,sales,0,0.857143,34.428571,0.023706
4491,4189,6.1,7.9,6,240,10,0,0,management,0,0.600000,24.000000,0.023706
4492,4197,6.6,7.9,6,144,3,0,0,management,0,2.000000,48.000000,0.023706
4493,4198,5.3,9.1,5,177,4,0,0,management,0,1.250000,44.250000,0.023706
4494,4201,6.4,5.5,4,256,2,0,1,marketing,0,2.000000,128.000000,0.023706
4495,4207,8.8,8.1,5,189,3,0,0,management,0,1.666667,63.000000,0.023706
4496,4220,7.3,9.0,4,284,2,0,0,support,0,2.000000,142.000000,0.023706
4497,4229,3.8,4.9,5,206,3,0,1,management,0,1.666667,68.666667,0.023706
4498,4243,7.1,6.6,4,278,4,0,0,marketing,0,1.000000,69.500000,0.023706
4499,4250,1.4,3.8,6,125,6,1,0,marketing,0,1.000000,20.833333,0.023706
4500,4251,8.5,8.9,5,160,3,0,0,accounting,0,1.666667,53.333333,0.023706
4501,4255,2.2,9.4,4,203,10,0,1,management,0,0.400000,20.300000,0.023706
4502,4287,4.5,4.9,3,159,3,0,0,product_mng,1,1.000000,53.000000,0.023706
4503,4349,4.5,5.3,3,139,3,0,0,technical,1,1.000000,46.333333,0.023706
4504,4479,4.5,4.6,3,169,3,0,0,hr,1,1.000000,56.333333,0.023706
4505,4492,4.3,4.9,3,141,3,0,0,RandD,1,1.000000,47.000000,0.023706
4506,4504,7.6,8.9,6,248,5,0,0,technical,1,1.200000,49.600000,0.023706

In [24]:
test=test.sort_values(by='ID')

In [25]:
dep

    Department  dep_prob
0           IT  0.078464
1        RandD  0.034224
2   accounting  0.058431
3           hr  0.059766
4   management  0.024040
5    marketing  0.055760
6  product_mng  0.055259
7        sales  0.279633
8      support  0.156093
9    technical  0.198331

In [26]:
test=pd.merge(test,dep)
test=test.drop(['Department'],axis=1)
test=test=test.sort_values(by='ID')
test.tail(10)

,ID,satisfaction_level,last_evaluation_rating,projects_worked_on,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,Attrition,efficiency,punctual,sales_prob,dep_prob
1305,4498,8.3,8.1,6,229,5,0,0,1,1.20,45.800000,0.604508,0.279633
1306,4499,4.3,5.1,3,138,3,0,0,1,1.00,46.000000,0.604508,0.279633
1523,4500,1.1,9.7,7,320,4,0,0,1,1.75,80.000000,0.371786,0.058431
1524,4501,3.6,5.2,3,153,3,0,0,1,1.00,51.000000,0.371786,0.058431
1741,4502,4.0,4.7,3,146,3,0,0,1,1.00,48.666667,0.371786,0.059766
2517,4503,0.9,9.3,7,306,4,0,0,1,1.75,76.500000,0.371786,0.198331
2518,4504,7.6,8.9,6,248,5,0,0,1,1.20,49.600000,0.023706,0.198331
2519,4505,7.2,8.4,6,267,5,0,0,1,1.20,53.400000,0.371786,0.198331
2520,4506,4.6,5.5,3,155,3,0,0,1,1.00,51.666667,0.604508,0.198331
3177,4507,0.9,8.1,7,267,4,0,0,1,1.75,66.750000,0.604508,0.156093

In [27]:
test=test.drop(['ID','Attrition'],axis=1)

In [28]:
pred=model.predict_proba(test)
pred

array([[  8.86464119e-03,   9.91135359e-01],
       [  6.07967377e-05,   9.99939203e-01],
       [  1.07288361e-05,   9.99989271e-01],
       ...,
       [  2.69949436e-04,   9.99730051e-01],
       [  2.40802765e-05,   9.99975920e-01],
       [  2.03847885e-05,   9.99979615e-01]], dtype=float32)

In [29]:
pred=pd.DataFrame(pred)
pred=pred.drop([1],axis=1)
pred.columns=[['Attrition']]
pred.head()

   Attrition
0   0.008865
1   0.000061
2   0.000011
3   0.000015
4   0.000011

In [30]:
answer1=pd.concat([answer,pred/2],axis=1)

In [31]:
answer1.to_csv('ptanhi.csv',index=False)

In [32]:
accuracy_score(pd.read_csv('test.csv').Attrition,model.predict(test))

0.99312181051697357

In [142]:
from sklearn.ensemble import GradientBoostingClassifier

In [143]:
model2 =  GradientBoostingClassifier()

In [144]:
model.fit(X_train,y_train)

XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=1,
       gamma=0, learning_rate=0.1, max_delta_step=0, max_depth=3,
       min_child_weight=1, missing=None, n_estimators=100, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=1, seed=0, silent=True, subsample=1)

In [145]:
predcv =model.predict(X_test)

In [146]:
accuracy_score(predcv,y_test)

0.97135385712587663

In [147]:
pred2=model.predict_proba(test)

In [148]:
pred2

array([[ 0.10428339,  0.89571661],
       [ 0.06628537,  0.93371463],
       [ 0.06628537,  0.93371463],
       ...,
       [ 0.12053204,  0.87946796],
       [ 0.06628537,  0.93371463],
       [ 0.00913882,  0.99086118]], dtype=float32)

In [152]:
pred2=pd.DataFrame(pred2)
pred2=pred2.drop([1],axis=1)
pred2.columns=[['Attrition']]
pred2.head()

   Attrition
0   0.104283
1   0.066285
2   0.066285
3   0.197421
4   0.106902

In [157]:
answer2=pd.concat([answer,pred2/1.75],axis=1)

In [158]:
answer2.to_csv('gb.csv',index=False)

In [159]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()

In [161]:
gnb.fit(X_train,y_train)

GaussianNB(priors=None)

In [162]:
accuracy_score(gnb.predict(X_test),y_test)

0.84167360038036376

In [163]:
gnb.fit(X,y)

GaussianNB(priors=None)

In [171]:
pred3 =gnb.predict_proba(test)

In [172]:
pred3=pd.DataFrame(pred3)
pred3=pred3.drop([0],axis=1)
pred3.columns=[['Attrition']]
pred3.head()

   Attrition
0   0.635480
1   0.739754
2   0.757993
3   0.822904
4   0.730861

In [173]:
answer2=pd.concat([answer,pred3/2],axis=1)

In [174]:
answer2.to_csv('gnbFalse.csv',index=False)