In [2]:
import pandas as pd
import numpy as np

In [3]:
train = pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

train.head()

,satisfaction_level,last_evaluation_rating,projects_worked_on,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,Department,salary,Attrition
0,3.8,5.3,3,167,3,0,0,sales,low,1
1,8.0,8.6,6,272,6,0,0,sales,medium,1
2,1.1,8.8,8,282,4,0,0,sales,medium,1
3,3.7,5.2,3,169,3,0,0,sales,low,1
4,4.1,5.0,3,163,3,0,0,sales,low,1

In [4]:
train.shape[0]

25491

In [5]:
temp=train[['salary','Attrition']]
temp_prob=temp.groupby('salary')['Attrition'].aggregate({'sales_prob':sum}).reset_index()
temp_prob['sales_prob']=temp_prob['sales_prob']/temp[temp.Attrition==1].shape[0]
temp_prob

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version

   salary  sales_prob
0    high    0.023706
1     low    0.604508
2  medium    0.371786

In [6]:
train=pd.merge(train,temp_prob,how='inner')
train=train.drop(['salary'],axis=1)
train.head()

,satisfaction_level,last_evaluation_rating,projects_worked_on,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,Department,Attrition,sales_prob
0,3.8,5.3,3,167,3,0,0,sales,1,0.604508
1,3.7,5.2,3,169,3,0,0,sales,1,0.604508
2,4.1,5.0,3,163,3,0,0,sales,1,0.604508
3,1.0,7.7,7,257,4,0,0,sales,1,0.604508
4,9.2,8.5,6,269,5,0,0,sales,1,0.604508

In [7]:
department=train[['Department','Attrition']]
p=department[department.Attrition==1].shape[0]
dep=department.groupby('Department')['Attrition'].aggregate({'dep_prob':sum}).reset_index()
dep['dep_prob']=dep['dep_prob']/p
dep

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  This is separate from the ipykernel package so we can avoid doing imports until

    Department  dep_prob
0           IT  0.078464
1        RandD  0.034224
2   accounting  0.058431
3           hr  0.059766
4   management  0.024040
5    marketing  0.055760
6  product_mng  0.055259
7        sales  0.279633
8      support  0.156093
9    technical  0.198331

In [8]:
train=pd.merge(train,dep,how='inner')
train=train.drop(['Department'],axis=1)

In [9]:
train.head()

,satisfaction_level,last_evaluation_rating,projects_worked_on,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,Attrition,sales_prob,dep_prob
0,3.8,5.3,3,167,3,0,0,1,0.604508,0.279633
1,3.7,5.2,3,169,3,0,0,1,0.604508,0.279633
2,4.1,5.0,3,163,3,0,0,1,0.604508,0.279633
3,1.0,7.7,7,257,4,0,0,1,0.604508,0.279633
4,9.2,8.5,6,269,5,0,0,1,0.604508,0.279633

In [10]:

X=train.drop(['Attrition'],axis=1)
y=train.Attrition

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [12]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.33,random_state=7)

In [13]:
from xgboost import XGBClassifier

C:\Users\user\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [14]:
model  = XGBClassifier(base_score=0.7,learning_rate=0.85,max_depth=8,n_estimators = 500)
model.fit(X_train,y_train)

XGBClassifier(base_score=0.7, colsample_bylevel=1, colsample_bytree=1,
       gamma=0, learning_rate=0.85, max_delta_step=0, max_depth=8,
       min_child_weight=1, missing=None, n_estimators=500, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=1, seed=0, silent=True, subsample=1)

In [15]:
predcv =model.predict(X_test)

In [16]:
accuracy=accuracy_score(y_test,predcv)
accuracy

0.98977772494948291

In [17]:
model.fit(X,y)

XGBClassifier(base_score=0.7, colsample_bylevel=1, colsample_bytree=1,
       gamma=0, learning_rate=0.85, max_delta_step=0, max_depth=8,
       min_child_weight=1, missing=None, n_estimators=500, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=1, seed=0, silent=True, subsample=1)

In [18]:
test=pd.read_csv('test.csv')
test.head()

,ID,satisfaction_level,last_evaluation_rating,projects_worked_on,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,Department,salary,Attrition
0,1,7.2,8.7,6,233,5,0,0,sales,low,1
1,2,4.5,5.4,3,145,3,0,0,sales,low,1
2,3,4.1,5.5,3,158,3,0,0,sales,low,1
3,4,3.6,5.6,3,147,3,0,0,sales,low,1
4,5,4.5,4.7,3,170,3,0,0,sales,low,1

In [19]:
answer=pd.DataFrame(test.ID)

In [20]:
test=pd.merge(test,temp_prob,how='inner')
test=test.drop(['salary'],axis=1)
test.head()

,ID,satisfaction_level,last_evaluation_rating,projects_worked_on,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,Department,Attrition,sales_prob
0,1,7.2,8.7,6,233,5,0,0,sales,1,0.604508
1,2,4.5,5.4,3,145,3,0,0,sales,1,0.604508
2,3,4.1,5.5,3,158,3,0,0,sales,1,0.604508
3,4,3.6,5.6,3,147,3,0,0,sales,1,0.604508
4,5,4.5,4.7,3,170,3,0,0,sales,1,0.604508

In [21]:
test=pd.merge(test,dep,how='inner')
test=test.drop(['Department'],axis=1)
test.head()

,ID,satisfaction_level,last_evaluation_rating,projects_worked_on,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,Attrition,sales_prob,dep_prob
0,1,7.2,8.7,6,233,5,0,0,1,0.604508,0.279633
1,2,4.5,5.4,3,145,3,0,0,1,0.604508,0.279633
2,3,4.1,5.5,3,158,3,0,0,1,0.604508,0.279633
3,4,3.6,5.6,3,147,3,0,0,1,0.604508,0.279633
4,5,4.5,4.7,3,170,3,0,0,1,0.604508,0.279633

In [22]:
test=test.drop(['Attrition','ID'],axis=1)

In [23]:
pred=model.predict_proba(test)
pred

array([[  7.60424137e-03,   9.92395759e-01],
       [  6.13927841e-05,   9.99938607e-01],
       [  3.29017639e-05,   9.99967098e-01],
       ...,
       [  9.99999642e-01,   3.57209473e-07],
       [  9.99999642e-01,   3.57209473e-07],
       [  1.40666962e-05,   9.99985933e-01]], dtype=float32)

In [24]:
pred=pd.DataFrame(pred)
pred=pred.drop([1],axis=1)
pred.columns=[['Attrition']]
pred.head()

   Attrition
0   0.007604
1   0.000061
2   0.000033
3   0.000011
4   0.000075

In [33]:
answer1=pd.concat([answer,pred/1.875],axis=1)

In [34]:
answer1.to_csv('answertunedagain.csv',index=False)

In [27]:
real=pd.read_csv('answer_given.csv').Attrition

In [28]:
accuracy_score(pred,real)

ValueError: Classification metrics can't handle a mix of continuous and binary targets